@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*{
  margin: 0;
  padding: 0;
}

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#hide-menu{
  display: none;
}

.section-margin{
  margin: 0 auto;
}

.section-padding{
  padding: 60px 0px;
}

.section-heading{
  font-size: 46px;
  font-weight: bold;
}

.container{
  max-width: 1160px;
}

ul {
  list-style: none;
}

.btn{
  width: 197px;
  height: 50px;
  background-color: #FEA301;
  border-radius: 12px;
  border: none;
  color: #FFFFFF;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.btn-icon-container{
  display: flex;
  gap: 10px;
}

.btn-icon{
  height: 60px;
  width: 60px;
  background-color: #FEA301;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black{
  background-color: #111111;
}

.bg{
  background-color: #FFFFFF;
}

.bg1{
  color: #FEA301;
}

.bg2{
  color: #01ACFD;
}

.bg3{
  color: #05D4DF;
}

.bg4{
  color: #5D58EF;
}

.card-heading{
  font-size: 24px;
  font-weight: bold;
  color: #202020;
}

.card-heading2{
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.common-description{
  font-size: 15px;
  font-weight: 500;
  color: rgba(128, 128, 128, 1);
}

.common-description2{
  font-size: 15px;
  font-weight: 600;
  color: rgba(102, 102, 102, 1);
}

.card-end{
  font-weight: bold;
  font-size: 15px;
}

.gra1{
  background-image: linear-gradient(to top, rgba(222, 245, 255, 0), rgba(222, 245, 255, 0.6));
}

.gra2{
  background-image: linear-gradient(to top, rgba(255, 244, 220, 0), rgba(255, 244, 220, 0.6));
}

.gra3{
  background-image: linear-gradient(to top, rgba(242, 232, 255, 0), rgba(242, 232, 255, 0.6));
}

/* Navbar */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
}

.nav-logo{
  display: flex;
  gap: 11px;
}

.nav-logo img{
  display: 100%;
  background-size: cover;
}

.nav-logo h3{
  font-weight: bold;
  font-size: 2rem;
  padding: 15px 0px; 
  color: #111111;
}

.nav-link{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

/* Hero Section */

.hero{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.hero-content{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.hero-content h3{
  font-weight: bold;
  font-size: 3.5rem;
}

.hero-content p{
  font-size: 1.25rem;
  font-weight: normal;
}

/* Currriculam */

.curriculam-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}

.curriculam-card{
  display: flex;
  gap: 28px;
  justify-content: space-between;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 52px 40px;
  gap: 33px;
  border-radius: 19px;
}

/* Our Stories */

.stories-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.stories-content{
  display: flex;
  gap: 18px;
}

.story-box1{
  max-width: 540px;
}

.story-box2{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 19px;
}

.story-card{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  border-radius: 16px;
}

.story-card img{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.story-card h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 2.9375rem;
}

.story-card h2{
  font-size: 15px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.story-card-content{
  padding-top: 33px;
  padding-bottom: 28px;
  padding-left: 38px;
  padding-right: 38px;
}

.story-span{
  width: 10.875rem;
  height: 3rem;
  border-radius: 2.9375rem;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(149, 178, 38, 1);
  position: relative;
  left: 38px;
  right: 78px;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-bg1{
  background-color: rgba(60, 216, 232, 1);
}

.story-bg2{
  background-color: rgba(93, 88, 240, 1);
}

@media screen and (max-width: 576px) {
  .container{
    max-width: 357px;
  }
  .section-padding{
    padding: 40px 0px;
  }
  /* Navbar */
  .navbar h3,.nav-link,.navbar button{
    display: none;
  }
  #hide-menu{
    display: unset;
  }
  .navbar{
    border: 2px solid #FEA301;
  }

  /* Hero Part */
  .hero{
    flex-direction: column-reverse;
    gap: 20px;
    padding: 20px 0px;
  }
  .hero img{
    width: 90%;
  }
  .hero-content{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Curriculam */

  .curriculam{
    background-image: url("./assets/bg.png");
  }

  .curriculam-container{
    text-align: center;
    gap: 20px;
  }

  .curriculam-card{
    flex-direction: column;
    gap: 12px;
  }

  .btn-icon-container{
    display: none;
  }

  /* Our stories */

  .story-box1{
    display: none;
  }

  .story-box2{
    grid-template-columns: repeat(2,173px);
    gap: 10px;
  }

  .story-card{
    gap: 10px;
  }

  .story-card span{
    display: none;
  }

  
}