@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*{
  margin: 0;
  padding: 0;
}

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#hide-menu{
  display: none;
}

.section-margin{
  margin: 0 auto;
}

.section-padding{
  padding: 60px 0px;
}

.section-heading{
  font-size: 46px;
  font-weight: bold;
}

.container{
  max-width: 1160px;
}

ul {
  list-style: none;
}

.btn{
  width: 197px;
  height: 50px;
  background-color: #FEA301;
  border-radius: 12px;
  border: none;
  color: #FFFFFF;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.btn-icon-container{
  display: flex;
  gap: 10px;
}

.btn-icon{
  height: 60px;
  width: 60px;
  background-color: #FEA301;
  color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black{
  background-color: #111111;
}

.bg{
  background-color: #FFFFFF;
}

.bg1{
  color: #FEA301;
}

.bg2{
  color: #01ACFD;
}

.bg3{
  color: #05D4DF;
}

.bg4{
  color: #5D58EF;
}

.card-heading{
  font-size: 24px;
  font-weight: bold;
  color: #202020;
}

.card-heading2{
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

.common-description{
  font-size: 15px;
  font-weight: 500;
  color: rgba(128, 128, 128, 1);
}

.common-description2{
  font-size: 15px;
  font-weight: 600;
  color: rgba(102, 102, 102, 1);
}

.card-end{
  font-weight: bold;
  font-size: 15px;
}

.gra1{
  background-image: linear-gradient(to top, rgba(222, 245, 255, 0), rgba(222, 245, 255, 0.6));
}

.gra2{
  background-image: linear-gradient(to top, rgba(255, 244, 220, 0), rgba(255, 244, 220, 0.6));
}

.gra3{
  background-image: linear-gradient(to top, rgba(242, 232, 255, 0), rgba(242, 232, 255, 0.6));
}

/* Navbar */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
}

.nav-logo{
  display: flex;
  gap: 11px;
}

.nav-logo img{
  display: 100%;
  background-size: cover;
}

.nav-logo h3{
  font-weight: bold;
  font-size: 2rem;
  padding: 15px 0px; 
  color: #111111;
}

.nav-link{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

/* Hero Section */

.hero{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.hero-content{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.hero-content h3{
  font-weight: bold;
  font-size: 3.5rem;
}

.hero-content p{
  font-size: 1.25rem;
  font-weight: normal;
}

/* Currriculam */

.curriculam-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}

.curriculam-card{
  display: flex;
  gap: 28px;
  justify-content: space-between;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 52px 40px;
  gap: 33px;
  border-radius: 19px;
}

/* Our Stories */

.stories-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.story-card{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
}

.story-box1{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.125rem;
}

.story-box1 img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.story-card1 {
  grid-column: 1/2;
  grid-row: 1/3;
}

.story-card2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.story-card1,.story-card2,.story-card3,.story-card4,.story-card5{
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background-color: #01ACFD;
  position: relative;
}

.card-span{
  background-color: rgba(149, 178, 38, 1);
  color: #FFFFFF;
  border-radius: 47px;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 18px;
  position: absolute;
  top: 55%;
  left: 15%;
}

.story-card1 > .card-span{
  top: 53%;
  left: 10%;
}

.story-card1 h4{
  padding-top: 58px;
  padding-bottom: 47px;
  padding-left: 38px;
  padding-right: 38px;
}

.story-card1 p{
  padding-left: 38px;
  padding-right: 68px;
  margin-bottom: 34px;
}

.story-card2 h4,.story-card3 h4,.story-card4 h4,.story-card5 h4{
  margin: 38px 38px 28px 38px;
}

.span-bg1{
  background-color: rgba(60, 216, 232, 1);
}

.span-bg2{
  background-color: rgba(93, 88, 240, 1);
}

@media screen and (max-width: 576px) {
  .container{
    max-width: 357px;
  }
  .section-padding{
    padding: 40px 0px;
  }
  /* Navbar */
  .navbar h3,.nav-link,.navbar button{
    display: none;
  }
  #hide-menu{
    display: unset;
  }
  .navbar{
    border: 2px solid #FEA301;
  }

  /* Hero Part */
  .hero{
    flex-direction: column-reverse;
    gap: 20px;
    padding: 20px 0px;
  }
  .hero img{
    width: 90%;
  }
  .hero-content{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* Curriculam */

  .curriculam{
    background-image: url("./assets/bg.png");
  }

  .curriculam-container{
    text-align: center;
    gap: 20px;
  }

  .curriculam-card{
    flex-direction: column;
    gap: 12px;
  }

  .btn-icon-container{
    display: none;
  }

  /* Our stories */

  .story-card1{
    display: none;
  }

  .story-box1{
    grid-template-columns: 1fr 1fr;
  }

  .story-box1 img{
    width: 100%;
  }

  .card-span{
    padding: 5px 11px;
    border-radius: 28px;
    font-size: 9px;
    font-weight: 600;
    left: 10%;
    top: 35%;
  }
}